<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout<img style="height: 40px; padding: 5px; ;" src="/assets/transparent-login-icon-logout-icon-5dcfef94516950.3632820915739083723335.png"></a>